.card {
    width: 195px;
    height: 285px;
    background: #313131;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    transition: 0.2s ease-in-out;
  }
  
  
  